html, body, div, section, article, nav, h1, h2, h3, em, p, li, ul, a
{
    margin: 0;
    padding: 0;
}


body
{
    text-align: center;
    width: 75%;

}

h1
{
    margin-bottom: .5em;
}

h2
{
    text-align: left;
    margin-left: 1em;
    margin-bottom: .5em;
}

.news
{
    text-align: left;
    margin-left: 1.5em;
    margin-bottom: 1em;
}
.page_select
{
    width: 10%;
    margin: 0 auto;
}
nav
{
    display: flex;
    justify-content: space-around;
}